@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
  font-family: "Poppins", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  margin-top: 70px;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #546BD6;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* hero section  */

.big-text {
  font-size: 6rem;
  font-weight: 700;
  line-height: 120px;
}




.hero-p-div{
  /* border: 1px solid black; */
  border-radius: 50px;
  width: max-content;
  background: linear-gradient(90deg, #FFEDD4, #B8E6FE);

}

.hero-img{
  width: 400px;
}

.text-techtors{
  color: #546BD6;
}

.bg-techtors{
  background-color: #546BD6;
}

.btn-techtors{
  background-color: #546BD6;
  color: white;
}
.btn-techtors:hover{
  background-color: #304dcf;
  color: white;
}
.btn-techtors::after{
  background-color: #546BD6;
  color: white;
}

.btn-outline-techtors{
  color: #546BD6;
  border: solid 2px #546BD6;
  
}

.btn-outline-techtors:hover{
  color: white;
  background-color: #546BD6;
  
}



/* testing  */

.image-fade-container {
  position: relative;
  overflow: hidden;
  background: url("assets/grid-bg-2.png");
  background-size: cover;
}


.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* height of the fade */
  background: linear-gradient(to top, white, transparent); /* white fade */
}

.website-mockup{
  position: absolute;
  width: 150px;
  left: 10;
  top: 30px;
  z-index: 1;
  opacity: 1;
  /* border: 1px solid black; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  animation: floatUpDown 9s ease-in-out infinite;

}

.mobile-mockup{
  position: absolute;
  width: 80px;
  right: 100px;
  bottom: 80px;
  z-index: 50;
  opacity: 1;
  /* border: 1px solid black; */
  border-radius: 10px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: floatUpDown2 9s ease-in-out infinite;

}

.hero-piechart{
  position: absolute;
  width: 50px;
  top: 30px;
  right: 60px;
  z-index: 50;
  opacity: 0.7;
  animation: floatUpDown 13s ease-in-out infinite;

}

@keyframes floatUpDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes floatUpDown2 {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}


#HomeService{
  display: flex;
  /* height: 100vh; */
  /* align-items: center; */
  /* justify-content: space-around; */
}

#HomeService > section{
  width: 50%;
  /* display: flex; */
  /* justify-content: space-around; */
  flex-direction: row;
  /* gap: 20px; */
  align-items: baseline;
  margin: 0px 10px;

  
}
#HomeService > aside {
  position: relative;
  
}

#HomeService > aside > div {
  position: sticky;
  top: 80px;
  background: white; /* optional, to avoid overlap when scrolling */
  padding: 10px 0;
  z-index: 1; 
  
  /* ensures it stays above other content */
}

.text-justify {
    text-align: justify;
  }


.free-consultation{
  height: 55vh;
  /* width: 95vw; */

  background-image:  url("assets/free-consultation.png");
  background-repeat: no-repeat;
  background-size: contain;

  align-content: center;


}




.myCard{
  display: flex;
  width: 30rem;
  /* background-color: orange; */
  height: 7rem;
  border-radius: 10px;
  /* background: yellowgreen; */
  margin: 30px 0px;
  
}
.myCard-head{
  /* height: 8rem; */
  width: 8rem;
  /* background-color: yellowgreen; */
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-content: center;
  text-align: center;
}
.myCard-body{
  /* background-color: gold; */
  width: 22rem;
  /* border-radius: 10px; */
  align-content: center;


}

.serviceDiv{
  padding-left: 20px;
  border-radius: 10px;
  width: 100%;
}

.serviceDiv:hover{

  background-color: #E0E7FF;
}


/* mega menu  */
  .dropdown-mega {
      position: static;
      right: 50px;
  }
  .dropdown-menu.mega-menu {
    width: 70%;
    /* border: none; */
    /* border-radius: 0; */
    margin-top: 0;
    /* background-color: #f8f9fa; */
    left: 50%;
  transform: translateX(-50%);
  background-color: #FDFAF0;
  }


  .gradient-wrapper-service {
  padding: 4px 14px;
  border-radius: 999px;
  background: linear-gradient(90deg, #fff5dd, #e8f0ff);
  display: inline-block;
}

.hero-tic-svg{
 position: absolute; 
 left: 0px;
 bottom: 0px;
 z-index: 1;
 opacity: 0.7;
 width: 600;
  height:400;
}

@media (max-width: 576px) {

.big-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-left: 100px;
  /* margin: 0px auto; */
}
.hero-p-div{

  margin-left: 100px;
  

}
.hero-btns{
  margin-left: 100px;
}
.website-mockup{
  
  width: 80px;
  left: 0px;
  top: 3px;
 

}
.mobile-mockup{
 
  width: 50px;
  right: 10px;
  bottom: 0px;
}
.hero-piechart{
 
  width: 20px;
  top: 0px;
  right: 0px;
  

}
.image-fade-container {
 width: 450px !important;
}
.heroSection{
  flex-direction: column;
}
.hero-tic-svg{
  width: 400px;
  height:300px;
}
}